name: Deploy Terraform to AWS

on:
  push:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

jobs:
  deploy-to-us-east-1:
    runs-on: ubuntu-latest
    environment: DEV
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init for US East 1
        run: terraform init -backend-config="key=myproject-us-east-1.tfstate"

      - name: Terraform Apply for US East 1
        run: terraform apply -auto-approve -var="aws_region=us-east-1"

  deploy-to-eu-west-1:
    needs: deploy-to-us-east-1
    runs-on: ubuntu-latest
    environment: DEV
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      AWS_DEFAULT_REGION: eu-west-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init for EU West 1
        run: terraform init -backend-config="key=myproject-eu-west-1.tfstate"

      - name: Terraform Apply for EU West 1
        run: terraform apply -auto-approve -var="aws_region=eu-west-1"
